{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="game-container">
    <!-- Tło z obrazem kraju -->
    {% if game.age.background %}
        <div class="background-image" style="background-image: url('{{ game.age.background.url }}');"></div>
    {% endif %}

    <!-- Górna lewa sekcja: Kraj, Era, czas -->
    <div class="top-left">   
        <div id="game-container" data-url="{% url 'update_game_day' game.pk %}">
            <div class="era-info">
                <h3 class="era-name-in-game">{{ game.age.name }}</h3>
                <div class="era-dates">
                    <span class="start-date">{{ game.age.start_of_era|date:"d-m-Y" }}</span> - 
                    <span class="end-date">{{ game.age.end_of_era|date:"d-m-Y" }}</span>
                </div>
                <div class="progress-container">
                    <div class="progress-bar" style="width: {{ percentage }}%;"></div>
                </div>
                <div class="current-date">
                    <strong>Aktualna data:</strong> <span id="current-date">{{ time }}</span>
                </div>   
            </div>
        </div> 
    </div> 
    {% if technology_unlock %}
    <div class="time-right-container" 
     {% comment %} data-url="{% url 'update_technology_time' game.pk %} {% endcomment %}
     >
        <h3 class="name_unlock">
           {% if technology_unlock.technology.name %}
        {{ technology_unlock.technology.name }}
        {% else %}
            {{ technology_unlock.name }}
        {% endif %}

        <div id="time-left-technology">
            <span id="time-left" data-tech-id="{{ technology_unlock.pk }}">
            </span>
            <div class="progress-container">
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span id="time-left-technology" data-tech-id="{{ technology_unlock.pk }}" data-game-id="{{ game.pk }}">
                    {{ remaining_time }} dni
                </span>
                    {% comment %} {% if technology_unlock.technology.time_to_unlock %}
                    {{ technology_unlock.technology.time_to_unlock }} 
                    {% else %}
                    {{ technology_unlock.time_to_unlock }} dni
                    {% endif %} {% endcomment %}
                     </span>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="no-technology-container">
        <p>Brak technologii do odblokowania.</p>
    </div>
    {% endif %}

    <!-- Górna środkowa sekcja: Populacja -->
    <div class="top-center">
        <span class="tooltip" data-title="Populacja" >
            <img src="{% static 'images/Screenshot from 2024-10-25 17-47-57.png' %}" title="Populacja" alt="Populacja" class="icon">
            {{ game.country.population }} osób
        </span>
    </div> <!-- Zamknięcie top-center -->

    <!-- Górna prawa sekcja: Plecak i Złoto z możliwością ukrycia -->
    <div class="top-right">
        <button id="toggleBackpack" onclick="toggleBackpack()">
            <span class="tooltip" data-title="">
                <img src="{% static 'images/Screenshot from 2025-01-07 12-21-53.png' %}" 
                     title="Plecak" alt="Plecak" class="icon">
            </span>
        </button>
        <div id="backpackSection" style="display: none;">
            <span class="tooltip" data-title="Złoto" >
                <img src="{% static 'images/Screenshot from 2024-10-25 18-06-12.png' %}" title="Złoto" alt="Złoto" class="icon">
                {{ game.country.capital }}
            </span>
            <ul>
                {% for resource in backpack_resources %}
                    <li>
                        {% if resource.resource.image %}
                            <span class="tooltip" data-title="{{ resource.resource.name }}" >
                                <img src="{{ resource.resource.image.url }}" "title="{{ resource.resource.name }}" alt="{{ resource.resource.name }}" class="icon">
                            </span>
                        {% else %}
                            <span>
                                <img src="{% static 'images/Screenshot from 2024-11-01 14-13-09.png' %}" class="icon">
                            </span>
                        {% endif %}
                        {{ resource.quantity }}
                    </li>
                {% empty %}
                    <li>Plecak jest pusty.</li>
                {% endfor %}
            </ul>
        </div>
    </div> 
    <!-- Lewa sekcja: Technologia -->
    <div class="left-center">
    <div class="left-center-button"  >
    <button id="technologyButton" class="tech-button" onclick="toggleTechnology()">
        <span class="tooltip" data-title="">
            <img src="{% static 'images/Screenshot from 2025-01-20 10-15-54.png' %}" 
                    title="technology" alt="technology" class="icon">
        </span>
    </button>
    </div>
    <div id="technologySection" style="display: none;">
        <button class="tech-info_button" onclick="toggleTechnologyGroup('Wojskowa')">Wojskowa</button>
        <div class="tech-info-content" id="Wojskowa" style="display: none;">
            {% if technologies|length == 0 %}
                <h1>Brak technologii</h1>
            {% else %}
                {% for t in technologies %}
                    {% if t.technology.type == 'ARMY' %}
                        <div class="technologySectionInfo" data-url="{% url 'unlock_technology' game.pk t.technology.pk %}" data-game-id="{{ game_id }}">
                            {% if t.technology.image %}
                                <div class="tech-image-container">
                                    <img src="{{ t.technology.image.url }}" class="tech-image" alt="{{ t.technology.name }}">
                                    <div class="tech-tooltip">{{ t.technology.name }} <br> {{ t.technology.description }}
                                    <br> {{ t.variable }}</div>
                                    {% if t.variable is True %}
                                        <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                    {% else %}
                                        <img src="{% static 'images/update_technology.png' %}" 
                                            class="tech-badge" 
                                            data-tech-id="{{ t.technology.id }}"
                                            data-requirement="{{ t.technology.requirement }}" 
                                            data-prerequisite="{{ t.technology.prerequisite }}"  
                                            data-prerequisite-vailable="{{ t.technology.prerequisite_vailable }}" 
                                            data-time-to-unlock="{{ t.technology.time_to_unlock }}"
                                            data-resources-sufficient="{{ t.technology.resources_dict_sufficient }}"
                                            data-game-id="{{ game_id }}"
                                            data-game-variable="{{ t.varilable }}">
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="tech-image-container">
                                    <img src="{% static 'images/Screenshot from 2024-11-01 14-13-09.png' %}" class="tech-image" alt="{{ t.technology.name }}">
                                    <div class="tech-tooltip">{{ t.technology.name }} <br> {{ t.technology.description }}</div>
                                    {% if t.variable is True %}
                                        <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                    {% else %}
                                        <img src="{% static 'images/update_technology.png' %}" 
                                            class="tech-badge" 
                                            data-tech-id="{{ t.technology.id }}"
                                            data-requirement="{{ t.technology.requirement }}" 
                                            data-prerequisite="{{ t.technology.prerequisite }}"  
                                            data-prerequisite-vailable="{{ t.technology.prerequisite_vailable }}" 
                                            data-time-to-unlock="{{ t.technology.time_to_unlock }}"
                                            data-resources-sufficient="{{ t.technology.resources_dict_sufficient }}"
                                            data-game-id="{{ game_id }}"
                                            data-game-variable="{{ t.variable }}">
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="technologySectionInfoRecources">
                                <div class="resource-container">
                                    <img src="{{ t.technology.resource_1.image.url }}" alt="{{ t.technology.resource_1.name }}" class="resource-icon">
                                    <span>{{ t.technology.quantity_1 }}</span>
                                    <div class="tech-resourse-tooltip">{{ t.technology.resource_1.name }}</div>
                                </div>

                                <div class="resource-container">
                                    <img src="{{ t.technology.resource_2.image.url }}" alt="{{ t.technology.resource_2.name }}" class="resource-icon">
                                    <span>{{ t.technology.quantity_2 }}</span>
                                    <div class="tech-resourse-tooltip">{{ t.technology.resource_2.name }}</div>
                                </div>

                                <div class="resource-container">
                                    <img src="{{ t.technology.resource_3.image.url }}" alt="{{ t.technology.resource_3.name }}" class="resource-icon">
                                    <span>{{ t.technology.quantity_3 }}</span>
                                    <div class="tech-resourse-tooltip">{{ t.technology.resource_3.name }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
            <button class="tech-info_button" onclick="toggleTechnologyGroup('Gospodarcza')">Gospodarcza</button>
            <div class="tech-info-content" id="Gospodarcza" style="display: none;">
                {% if technologies|length == 0 %}
                    <h1>Brak technologii</h1>
                {% else %}
                    {% for t in technologies %}
                        {% if t.technology.type == 'ECONOMY' %}
                        <div class="technologySectionInfo" data-url="{% url 'unlock_technology' game.pk t.technology.pk %}" data-game-id="{{ game_id }}">
                        {% if t.technology.image %}
                            <div class="tech-image-container">
                                <img src="{{ t.technology.image.url }}" class="tech-image" alt="{{ t.technology.name }}">
                                <div class="tech-tooltip">{{ t.technology.name }} <br> {{ t.technology.description }}</div>
                                {% if t.technology.vailable %}
                                    <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                {% else %}
                                    <img src="{% static 'images/update_technology.png' %}" 
                                        class="tech-badge" 
                                        data-tech-id="{{ t.id }}"
                                        data-requirement="{{ t.technology.requirement }}" 
                                        data-prerequisite="{{ t.technology.prerequisite }}"  
                                        data-prerequisite-vailable="{{ t.technology.prerequisite_vailable }}" 
                                        data-time-to-unlock="{{ t.technology.time_to_unlock }}"
                                        data-resources-sufficient="{{ t.technology.resources_dict_sufficient }}"
                                        data-game-id="{{ game_id }}">
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="tech-image-container">
                                <img src="{% static 'images/Screenshot from 2024-11-01 14-13-09.png' %}" class="tech-image" alt="{{ t.technology.name }}">
                                <div class="tech-tooltip">{{ t.name }} <br> {{ t.technology.description }}</div>
                                {% if t.technology.vailable %}
                                    <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                {% else %}
                                    <img src="{% static 'images/update_technology.png' %}" 
                                        class="tech-badge" 
                                        data-tech-id="{{ t.technology.id }}"
                                        data-requirement="{{ t.technology.requirement }}" 
                                        data-prerequisite="{{ t.technology.prerequisite }}"  
                                        data-prerequisite-vailable="{{ t.technology.prerequisite_vailable }}" 
                                        data-time-to-unlock="{{ t.technology.time_to_unlock }}"
                                        data-resources-sufficient="{{ t.technology.resources_dict_sufficient }}"
                                        data-game-id="{{ game_id }}">
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="technologySectionInfoRecources">
                            <div class="resource-container">
                                <img src="{{ t.technology.resource_1.image.url }}" alt="{{ t.technology.resource_1.name }}" class="resource-icon">
                                <span>{{ t.technology.quantity_1 }}</span>
                                <div class="tech-resourse-tooltip">{{ t.technology.resource_1.name }}</div>
                            </div>

                            <div class="resource-container">
                                <img src="{{ t.technology.resource_2.image.url }}" alt="{{ t.technology.resource_2.name }}" class="resource-icon">
                                <span>{{ t.technology.quantity_2 }}</span>
                                <div class="tech-resourse-tooltip">{{ t.technology.resource_2.name }}</div>
                            </div>

                            <div class="resource-container">
                                <img src="{{ t.technology.resource_3.image.url }}" alt="{{ t.technology.resource_3.name }}" class="resource-icon">
                                <span>{{ t.technology.quantity_3 }}</span>
                                <div class="tech-resourse-tooltip">{{ t.technology.resource_3.name }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
            
            <button class="tech-info_button" onclick="toggleTechnologyGroup('Społeczna')">Społeczna</button>
            <div class="tech-info-content" id="Społeczna" style="display: none;">
                {% if technologies|length == 0 %}
                    <h1>Brak technologii</h1>
                {% else %}
                    {% for t in technologies %}
                        {% if t.technology.type == 'SOCIETY' %}
                        <div class="technologySectionInfo" data-url="{% url 'unlock_technology' game.pk technology.pk %}" data-game-id="{{ game_id }}">
                            <div class="technologySectionInfo" data-url="{% url 'unlock_technology' game.pk t.technology.pk %}" data-game-id="{{ game_id }}">
                        {% if t.technology.image %}
                            <div class="tech-image-container">
                                <img src="{{ t.technology.image.url }}" class="tech-image" alt="{{ t.technology.name }}">
                                <div class="tech-tooltip">{{ t.technology.name }} <br> {{ t.technology.description }}</div>
                                {% if t.vailable %}
                                    <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                {% else %}
                                    <img src="{% static 'images/update_technology.png' %}" 
                                        class="tech-badge" 
                                        data-tech-id="{{ t.technology.id }}"
                                        data-requirement="{{ t.technology.requirement }}" 
                                        data-prerequisite="{{ t.technology.prerequisite }}"  
                                        data-prerequisite-vailable="{{ t.technology.prerequisite_vailable }}" 
                                        data-time-to-unlock="{{ t.technology.time_to_unlock }}"
                                        data-resources-sufficient="{{ t.technology.resources_dict_sufficient }}"
                                        data-game-id="{{ game_id }}">
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="tech-image-container">
                                <img src="{% static 'images/Screenshot from 2024-11-01 14-13-09.png' %}" class="tech-image" alt="{{ t.technology.name }}">
                                <div class="tech-tooltip">{{ t.technology.name }} <br> {{ t.technology.description }}</div>
                                {% if t.technology.vailable %}
                                    <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                {% else %}
                                    <img src="{% static 'images/update_technology.png' %}" 
                                        class="tech-badge" 
                                        data-tech-id="{{ t.technology.id }}"
                                        data-requirement="{{ t.technology.requirement }}" 
                                        data-prerequisite="{{ t.technology.prerequisite }}"  
                                        data-prerequisite-vailable="{{ t.technology.prerequisite_vailable }}" 
                                        data-time-to-unlock="{{ t.technology.time_to_unlock }}"
                                        data-resources-sufficient="{{ t.technology.resources_dict_sufficient }}"
                                        data-game-id="{{ game_id }}">
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="technologySectionInfoRecources">
                            <div class="resource-container">
                                <img src="{{ t.technology.resource_1.image.url }}" alt="{{ t.technology.resource_1.name }}" class="resource-icon">
                                <span>{{ t.technology.quantity_1 }}</span>
                                <div class="tech-resourse-tooltip">{{ t.technology.resource_1.name }}</div>
                            </div>

                            <div class="resource-container">
                                <img src="{{ t.technology.resource_2.image.url }}" alt="{{ t.technology.resource_2.name }}" class="resource-icon">
                                <span>{{ t.technology.quantity_2 }}</span>
                                <div class="tech-resourse-tooltip">{{ t.technology.resource_2.name }}</div>
                            </div>

                            <div class="resource-container">
                                <img src="{{ t.technology.resource_3.image.url }}" alt="{{ t.technology.resource_3.name }}" class="resource-icon">
                                <span>{{ t.technology.quantity_3 }}</span>
                                <div class="tech-resourse-tooltip">{{ t.technology.resource_3.name }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
            
            <button class="tech-info_button" onclick="toggleTechnologyGroup('Naukowa')">Naukowa</button>
            <div class="tech-info-content" id="Naukowa" style="display: none;">
                {% if technologies|length == 0 %}
                    <h1>Brak technologii</h1>
                {% else %}
                    {% for t in technologies %}
                        {% if t.technology.type == 'SCIENCE' %}
                            <div class="technologySectionInfo" data-url="{% url 'unlock_technology' game.pk t.technology.pk %}" data-game-id="{{ game_id }}">
                        {% if t.technology.image %}
                            <div class="tech-image-container">
                                <img src="{{ t.technology.image.url }}" class="tech-image" alt="{{ t.technology.name }}">
                                <div class="tech-tooltip">{{ t.technology.name }} <br> {{ t.technology.description }}</div>
                                {% if t.technology.vailable %}
                                    <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                {% else %}
                                    <img src="{% static 'images/update_technology.png' %}" 
                                        class="tech-badge" 
                                        data-tech-id="{{ t.technology.id }}"
                                        data-requirement="{{ t.technology.requirement }}" 
                                        data-prerequisite="{{ t.technology.prerequisite }}"  
                                        data-prerequisite-vailable="{{ t.technology.prerequisite_vailable }}" 
                                        data-time-to-unlock="{{ t.technology.time_to_unlock }}"
                                        data-resources-sufficient="{{ t.technology.resources_dict_sufficient }}"
                                        data-game-id="{{ game_id }}">
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="tech-image-container">
                                <img src="{% static 'images/Screenshot from 2024-11-01 14-13-09.png' %}" class="tech-image" alt="{{ t.technology.name }}">
                                <div class="tech-tooltip">{{ t.technology.name }} <br> {{ t.technology.description }}</div>
                                {% if t.vailable %}
                                    <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                {% else %}
                                    <img src="{% static 'images/update_technology.png' %}" 
                                        class="tech-badge" 
                                        data-tech-id="{{ t.technology.id }}"
                                        data-requirement="{{ t.technology.requirement }}" 
                                        data-prerequisite="{{ t.technology.prerequisite }}"  
                                        data-prerequisite-vailable="{{ t.technology.prerequisite_vailable }}" 
                                        data-time-to-unlock="{{ t.technology.time_to_unlock }}"
                                        data-resources-sufficient="{{ t.technology.resources_dict_sufficient }}"
                                        data-game-id="{{ game_id }}">
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="technologySectionInfoRecources">
                            <div class="resource-container">
                                <img src="{{ t.technology.resource_1.image.url }}" alt="{{ t.technology.resource_1.name }}" class="resource-icon">
                                <span>{{ t.technology.quantity_1 }}</span>
                                <div class="tech-resourse-tooltip">{{ t.technology.resource_1.name }}</div>
                            </div>

                            <div class="resource-container">
                                <img src="{{ t.technology.resource_2.image.url }}" alt="{{ t.technology.resource_2.name }}" class="resource-icon">
                                <span>{{ t.technology.quantity_2 }}</span>
                                <div class="tech-resourse-tooltip">{{ t.technology.resource_2.name }}</div>
                            </div>

                                <div class="resource-container">
                                    <img src="{{ technology.resource_3.image.url }}" alt="{{ technology.resource_3.name }}" class="resource-icon">
                                    <span>{{ technology.quantity_3 }}</span>
                                    <div class="tech-resourse-tooltip">{{ technology.resource_3.name }}</div>
                                </div>
                            </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <button class="tech-info_button" onclick="toggleTechnologyGroup('Kulturowa')">Kulturowa</button>
            <div class="tech-info-content" id="Kulturowa" style="display: none;">
                {% if technologies|length == 0 %}
                    <h1>Brak technologii</h1>
                {% else %}
                    {% for t in technologies %}
                        {% if technology.type == 'CULTURE' %}
                            <div class="technologySectionInfo" data-url="{% url 'unlock_technology' game.pk t.technology.pk %}" data-game-id="{{ game_id }}">
                        {% if t.technology.image %}
                            <div class="tech-image-container">
                                <img src="{{ t.technology.image.url }}" class="tech-image" alt="{{ t.technology.name }}">
                                <div class="tech-tooltip">{{ t.technology.name }} <br> {{ t.technology.description }}</div>
                                {% if t.technology.vailable %}
                                    <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                {% else %}
                                    <img src="{% static 'images/update_technology.png' %}" 
                                        class="tech-badge" 
                                        data-tech-id="{{ t.technology.id }}"
                                        data-requirement="{{ t.technology.requirement }}" 
                                        data-prerequisite="{{ t.technology.prerequisite }}"  
                                        data-prerequisite-vailable="{{ t.technology.prerequisite_vailable }}" 
                                        data-time-to-unlock="{{ t.technology.time_to_unlock }}"
                                        data-resources-sufficient="{{ t.technology.resources_dict_sufficient }}"
                                        data-game-id="{{ game_id }}">
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="tech-image-container">
                                <img src="{% static 'images/Screenshot from 2024-11-01 14-13-09.png' %}" class="tech-image" alt="{{ t.technology.name }}">
                                <div class="tech-tooltip">{{ t.technology.name }} <br> {{ t.technology.description }}</div>
                                {% if t.vailable %}
                                    <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                {% else %}
                                    <img src="{% static 'images/update_technology.png' %}" 
                                        class="tech-badge" 
                                        data-tech-id="{{ t.technology.id }}"
                                        data-requirement="{{ t.technology.requirement }}" 
                                        data-prerequisite="{{ t.technology.prerequisite }}"  
                                        data-prerequisite-vailable="{{ t.technology.prerequisite_vailable }}" 
                                        data-time-to-unlock="{{ t.technology.time_to_unlock }}"
                                        data-resources-sufficient="{{ t.technology.resources_dict_sufficient }}"
                                        data-game-id="{{ game_id }}">
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="technologySectionInfoRecources">
                            <div class="resource-container">
                                <img src="{{ t.technology.resource_1.image.url }}" alt="{{ t.technology.resource_1.name }}" class="resource-icon">
                                <span>{{ t.technology.quantity_1 }}</span>
                                <div class="tech-resourse-tooltip">{{ t.technology.resource_1.name }}</div>
                            </div>

                            <div class="resource-container">
                                <img src="{{ t.technology.resource_2.image.url }}" alt="{{ t.technology.resource_2.name }}" class="resource-icon">
                                <span>{{ t.technology.quantity_2 }}</span>
                                <div class="tech-resourse-tooltip">{{ t.technology.resource_2.name }}</div>
                            </div>

                            <div class="resource-container">
                                <img src="{{ t.technology.resource_3.image.url }}" alt="{{ t.technology.resource_3.name }}" class="resource-icon">
                                <span>{{ t.technology.quantity_3 }}</span>
                                <div class="tech-resourse-tooltip">{{ t.technology.resource_3.name }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
            
            <button class="tech-info_button" onclick="toggleTechnologyGroup('Inna')">Inna</button>
            <div class="tech-info-content" id="Inna" style="display: none;">
                {% if technologies|length == 0 %}
                    <h1>Brak technologii</h1>
                {% else %}
                    {% for t in technologies %}
                        {% if t.technology.type == 'OTHER' %}
                            <div class="technologySectionInfo" data-url="{% url 'unlock_technology' game.pk technology.pk %}" data-game-id="{{ game_id }}">
                            {% if technology.image %}
                                <div class="tech-image-container">
                                    <img src="{{ technology.image.url }}" class="tech-image" alt="{{ technology.name }}">
                                    <div class="tech-tooltip">{{ technology.name }} <br> {{ technology.description }}</div>
                                    {% if technology.vailable is True %}
                                    <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                    {% else %}
                                    <img src="{% static 'images/update_technology.png' %}" 
                                    class="tech-badge" 
                                    data-tech-id="{{ technology.id }}"
                                    data-requirement="{{ technology.requirement }}" 
                                    data-prerequisite="{{ technology.prerequisite }}"  
                                    data-prerequisite-vailable="{{ technology.prerequisite_vailable }}" 
                                    data-time-to-unlock="{{ technology.time_to_unlock }}"
                                    data-resources-sufficient="{{ technology.resources_dict_sufficient }}"
                                    data-game-id="{{ game_id }}" >

                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="tech-image-container">
                                    <img src="{% static 'images/Screenshot from 2024-11-01 14-13-09.png' %}" class="tech-image" alt="{{ technology.name }}">
                                    <div class="tech-tooltip">{{ technology.name }} <br> {{ technology.description }}</div>
                                    {% if t.vailable is True %}
                                    <img src="{% static 'images/pngwing.com.png' %}" class="tech-badge">
                                    {% else %}
                                    <img src="{% static 'images/update_technology.png' %}" 
                                    class="tech-badge" 
                                    data-tech-id="{{ technology.id }}"
                                    data-requirement="{{ technology.requirement }}" 
                                    data-prerequisite="{{ technology.prerequisite }}"  
                                    data-prerequisite-vailable="{{ technology.prerequisite_vailable }}" 
                                    data-time-to-unlock="{{ technology.time_to_unlock }}"
                                    data-resources-sufficient="{{ technology.resources_dict_sufficient }}"
                                    data-game-id="{{ game_id }}" >

                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="technologySectionInfoRecources">
                                <div class="resource-container">
                                    <img src="{{ technology.resource_1.image.url }}" alt="{{ technology.resource_1.name }}" class="resource-icon">
                                    <span>{{ technology.quantity_1 }}</span>
                                    <div class="tech-resourse-tooltip">{{ technology.resource_1.name }}</div>
                                </div>

                                <div class="resource-container">
                                    <img src="{{ technology.resource_2.image.url }}" alt="{{ technology.resource_2.name }}" class="resource-icon">
                                    <span>{{ technology.quantity_2 }}</span>
                                    <div class="tech-resourse-tooltip">{{ technology.resource_2.name }}</div>
                                </div>

                                <div class="resource-container">
                                    <img src="{{ technology.resource_3.image.url }}" alt="{{ technology.resource_3.name }}" class="resource-icon">
                                    <span>{{ technology.quantity_3 }}</span>
                                    <div class="tech-resourse-tooltip">{{ technology.resource_3.name }}</div>
                                </div>
                            </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>



    <!-- Okno modalne -->
    <div id="technologyModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <img id="modalTechnologyImage" src="{% static 'images/Screenshot from 2024-11-01 14-13-09.png' %}" 
                alt="Technologia" class="modal-image">
        
        <h2 id="modalTechnologyName">Odblokowanie technologii</h2>
        
        

        <p id="modalTechnologyDescription"></p>
        <p id="modalRequirement"></p>
        <p id="modalResources"></p>
        <p id="modalTimeToUnlock"></p>
        <p id="modalTechnologyId"></p>
        <a id="unlockTechnologyBtn" href="#" class="tech-info_button">Rozwiń technologię</a>
        <p id="modalErrorMessage" style="color: red; display: none;"></p>
        {% if messages %}
            <div id="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
    </div>

    </div>


    <!-- Dolna sekcja: Ekologia w jednej linii -->
    <div class="bottom-row">
        <div id="ecologySection">
            {% if ecology %}
                <div class="indicator">
                    <!-- Stan powietrza -->
                    <span class="tooltip" data-title="Stan powietrza">
                        <img src="{% static 'images/Screenshot from 2024-10-25 17-29-10.png' %}" 
                             title="Stan powietrza" alt="Stan powietrza" class="icon">
                    </span>
                    <div class="bar">
                        <div class="bar-filled" 
                             style="width: {{ ecology_bars.air_quality }}%; 
                                    background-color: {% if ecology.air_quality <= 3 %}red{% elif ecology.air_quality <= 6 %}yellow{% else %}green{% endif %};">
                        </div>
                        <div class="bar-empty" style="width: {{ ecology_bars.air_quality_empty }}%;"></div>
                    </div>
    
                    <!-- Zanieczyszczenie wody -->
                    <span class="tooltip" data-title="Zanieczyszczenie wody">
                        <img src="{% static 'images/Screenshot from 2024-10-25 17-30-08.png' %}" 
                             title="Zanieczyszczenie wody" alt="Zanieczyszczenie wody" class="icon">
                    </span>
                    <div class="bar">
                        <div class="bar-filled" 
                             style="width: {{ ecology_bars.water_pollution }}%; 
                                    background-color: {% if ecology.water_pollution <= 3 %}red{% elif ecology.water_pollution <= 6 %}yellow{% else %}green{% endif %};">
                        </div>
                        <div class="bar-empty" style="width: {{ ecology_bars.water_pollution_empty }}%;"></div>
                    </div>
    
                    <!-- Pokrycie lasów -->
                    <span class="tooltip" data-title="Pokrycie lasów">
                        <img src="{% static 'images/Screenshot from 2024-10-25 17-30-30.png' %}" 
                             title="Pokrycie lasów" alt="Pokrycie lasów" class="icon">
                    </span>
                    <div class="bar">
                        <div class="bar-filled" 
                             style="width: {{ ecology_bars.forest_coverage }}%; 
                                    background-color: {% if ecology.forest_coverage <= 3 %}red{% elif ecology.forest_coverage <= 6 %}yellow{% else %}green{% endif %};">
                        </div>
                        <div class="bar-empty" style="width: {{ ecology_bars.forest_coverage_empty }}%;"></div>
                    </div>
    
                    <!-- Populacja dzikich zwierząt -->
                    <span class="tooltip" data-title="Populacja dzikich zwierząt">
                        <img src="{% static 'images/Screenshot from 2024-10-25 17-31-07.png' %}" 
                             title="Populacja dzikich zwierząt" alt="Populacja dzikich zwierząt" class="icon">
                    </span>
                    <div class="bar">
                        <div class="bar-filled" 
                             style="width: {{ ecology_bars.wildlife_population }}%; 
                                    background-color: {% if ecology.wildlife_population <= 3 %}red{% elif ecology.wildlife_population <= 6 %}yellow{% else %}green{% endif %};">
                        </div>
                        <div class="bar-empty" style="width: {{ ecology_bars.wildlife_population_empty }}%;"></div>
                    </div>
                </div>
            {% else %}
                <p>Brak danych o ekologii.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
