{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="game-container">
    <!-- Tło z obrazem kraju -->
    {% if game.age.background %}
        <div class="background-image" style="background-image: url('{{ game.age.background.url }}');"></div>
    {% endif %}

    <!-- Górna lewa sekcja: Kraj i Era -->
    <div class="top-left">   
        <div id="game-container" data-url="{% url 'update_game_day' game.pk %}">
            <div class="era-info">
                <h3 class="era-name-in-game">{{ game.age.name }}</h3>
                <div class="era-dates">
                    <span class="start-date">{{ game.age.start_of_era|date:"d-m-Y" }}</span> - 
                    <span class="end-date">{{ game.age.end_of_era|date:"d-m-Y" }}</span>
                </div>
                <div class="progress-container">
                    <div class="progress-bar" style="width: {{ percentage }}%;"></div>
                </div>
                <div class="current-date">
                    <strong>Aktualna data:</strong> <span id="current-date">{{ time }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Górna środkowa sekcja: Populacja -->
    <div class="top-center">
        <span class="tooltip" data-title="Populacja" >
            <img src="{% static 'images/Screenshot from 2024-10-25 17-47-57.png' %}" title="Populacja" alt="Populacja" class="icon">
            {{ game.country.population }} osób
        </span>
    </div>

    <!-- Górna prawa sekcja: Plecak i Złoto z możliwością ukrycia -->
    <div class="top-right">
        <button id="toggleBackpack" onclick="toggleBackpack()">
            <span class="tooltip" data-title="">
                <img src="{% static 'images/Screenshot from 2025-01-07 12-21-53.png' %}" 
                     title="Plecak" alt="Plecak" class="icon">
            </span>
        </button>
        <div id="backpackSection" style="display: none;">
            <span class="tooltip" data-title="Złoto" >
                <img src="{% static 'images/Screenshot from 2024-10-25 18-06-12.png' %}" title="Złoto" alt="Złoto" class="icon">
                {{ game.country.capital }}
            </span>
            <ul>
                {% for resource in backpack_resources %}
                    <li>
                        {% if resource.resource.image %}
                            <span class="tooltip" data-title="{{ resource.resource.name }}" >
                                <img src="{{ resource.resource.image.url }}" "title="{{ resource.resource.name }}" alt="{{ resource.resource.name }}" class="icon">
                            </span>
                        {% else %}
                            <span>
                                <img src="{% static 'images/Screenshot from 2024-11-01 14-13-09.png' %}" class="icon">
                            </span>
                        {% endif %}
                        {{ resource.quantity }}
                    </li>
                {% empty %}
                    <li>Plecak jest pusty.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Lewa sekcja: Technologia -->
    <div class="left-center">
        <div class="left-center-button">
            <button id="technologyButton" class="tech-button" onclick="toggleTechnology()">
                <span class="tooltip" data-title="">
                    <img src="{% static 'images/Screenshot from 2025-01-20 10-15-54.png' %}" 
                         title="technology" alt="technology" class="icon">
                </span>
            </button>
        </div>
        <div id="technologySection" style="display: none;">
            <button class="tech-info_button" onclick="toggleTechnologyGroup('Wojskowa')">Wojskowa</button>
            <div class="tech-info-content" id="Wojskowa" style="display: none;">
                {% if technologies|length == 0 %}
                    <h1>Brak technologii</h1>
                {% else %}
                    {% for technology in technologies %}
                        {% if technology.type == 'ARMY' %}
                            <div class="technologySectionInfo">
                            <img src="{{ technology.image.url }}" "title="{{ technology.name }}" alt="{{ technology.name }} /n {{ technology.description }}" class="icon">
                            <img src="{{ technology.resource_1.image.url }}" "title="{{ resource_1.name }}" alt="{{ resource_1.name }}" class="icon">{{ technology.quantity_1 }}
                            <img src="{{ technology.resource_2.image.url }}" "title="{{ resource_2.name }}" alt="{{ resource_2.name }}" class="icon">{{ technology.quantity_2 }}
                            <img src="{{ technology.resource_3.image.url }}" "title="{{ resource_3.name }}" alt="{{ resource_3.name }}" class="icon">{{ technology.quantity_3 }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <button class="tech-info_button" onclick="toggleTechnologyGroup('Gospodarcza')">Gospodarcza</button>
            <div class="tech-info-content" id="Gospodarcza" style="display: none;">
                {% if technologies|length == 0 %}
                    <h1>Brak technologii</h1>
                {% else %}
                    {% for technology in technologies %}
                        {% if technology.type == 'ECONOMY' %}
                            <div class="technologySectionInfo">
                            <img src="{{ technology.image.url }}" "title="{{ technology.name }}" alt="{{ technology.name }} /n {{ technology.description }}" class="icon">
                            <img src="{{ technology.resource_1.image.url }}" "title="{{ resource_1.name }}" alt="{{ resource_1.name }}" class="icon">{{ technology.quantity_1 }}
                            <img src="{{ technology.resource_2.image.url }}" "title="{{ resource_2.name }}" alt="{{ resource_2.name }}" class="icon">{{ technology.quantity_2 }}
                            <img src="{{ technology.resource_3.image.url }}" "title="{{ resource_3.name }}" alt="{{ resource_3.name }}" class="icon">{{ technology.quantity_3 }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <button class="tech-info_button" onclick="toggleTechnologyGroup('Społeczna')">Społeczna</button>
            <div class="tech-info-content" id="Społeczna" style="display: none;">
                {% if technologies|length == 0 %}
                    <h1>Brak technologii</h1>
                {% else %}
                    {% for technology in technologies %}
                        {% if technology.type == 'SOCIETY' %}
                            <div class="technologySectionInfo">
                            <img src="{{ technology.image.url }}" "title="{{ technology.name }}" alt="{{ technology.name }} /n {{ technology.description }}" class="icon">
                            <img src="{{ technology.resource_1.image.url }}" "title="{{ resource_1.name }}" alt="{{ resource_1.name }}" class="icon">{{ technology.quantity_1 }}
                            <img src="{{ technology.resource_2.image.url }}" "title="{{ resource_2.name }}" alt="{{ resource_2.name }}" class="icon">{{ technology.quantity_2 }}
                            <img src="{{ technology.resource_3.image.url }}" "title="{{ resource_3.name }}" alt="{{ resource_3.name }}" class="icon">{{ technology.quantity_3 }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <button class="tech-info_button" onclick="toggleTechnologyGroup('Naukowa')">Naukowa</button>
            <div class="tech-info-content" id="Naukowa" style="display: none;">
                {% if technologies|length == 0 %}
                    <h1>Brak technologii</h1>
                {% else %}
                    {% for technology in technologies %}
                        {% if technology.type == 'SCIENCE' %}
                            <div class="technologySectionInfo">
                            <img src="{{ technology.image.url }}" "title="{{ technology.name }}" alt="{{ technology.name }} /n {{ technology.description }}" class="icon">
                            <img src="{{ technology.resource_1.image.url }}" "title="{{ resource_1.name }}" alt="{{ resource_1.name }}" class="icon">{{ technology.quantity_1 }}
                            <img src="{{ technology.resource_2.image.url }}" "title="{{ resource_2.name }}" alt="{{ resource_2.name }}" class="icon">{{ technology.quantity_2 }}
                            <img src="{{ technology.resource_3.image.url }}" "title="{{ resource_3.name }}" alt="{{ resource_3.name }}" class="icon">{{ technology.quantity_3 }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <button class="tech-info_button" onclick="toggleTechnologyGroup('Kulturowa')">Kulturowa</button>
            <div class="tech-info-content" id="Kulturowa" style="display: none;">
                {% if technologies|length == 0 %}
                    <h1>Brak technologii</h1>
                {% else %}
                    {% for technology in technologies %}
                        {% if technology.type == 'CULTURE' %}
                            <div class="technologySectionInfo">
                            <img src="{{ technology.image.url }}" "title="{{ technology.name }}" alt="{{ technology.name }} /n {{ technology.description }}" class="icon">
                            <img src="{{ technology.resource_1.image.url }}" "title="{{ resource_1.name }}" alt="{{ resource_1.name }}" class="icon">{{ technology.quantity_1 }}
                            <img src="{{ technology.resource_2.image.url }}" "title="{{ resource_2.name }}" alt="{{ resource_2.name }}" class="icon">{{ technology.quantity_2 }}
                            <img src="{{ technology.resource_3.image.url }}" "title="{{ resource_3.name }}" alt="{{ resource_3.name }}" class="icon">{{ technology.quantity_3 }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <button class="tech-info_button" onclick="toggleTechnologyGroup('Inna')">Inna</button>
            <div class="tech-info-content" id="Inna" style="display: none;">
                {% if technologies|length == 0 %}
                    <h1>Brak technologii</h1>
                {% else %}
                    {% for technology in technologies %}
                        {% if technology.type == 'OTHER' %}
                            <div class="technologySectionInfo">
                            <img src="{{ technology.image.url }}" "title="{{ technology.name }}" alt="{{ technology.name }} /n {{ technology.description }}" class="icon">
                            <img src="{{ technology.resource_1.image.url }}" "title="{{ resource_1.name }}" alt="{{ resource_1.name }}" class="icon">{{ technology.quantity_1 }}
                            <img src="{{ technology.resource_2.image.url }}" "title="{{ resource_2.name }}" alt="{{ resource_2.name }}" class="icon">{{ technology.quantity_2 }}
                            <img src="{{ technology.resource_3.image.url }}" "title="{{ resource_3.name }}" alt="{{ resource_3.name }}" class="icon">{{ technology.quantity_3 }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Dolna sekcja: Ekologia w jednej linii -->
    <div class="bottom-row">
        <div id="ecologySection">
            {% if ecology %}
                <div class="indicator">
                    <!-- Stan powietrza -->
                    <span class="tooltip" data-title="Stan powietrza">
                        <img src="{% static 'images/Screenshot from 2024-10-25 17-29-10.png' %}" 
                             title="Stan powietrza" alt="Stan powietrza" class="icon">
                    </span>
                    <div class="bar">
                        <div class="bar-filled" 
                             style="width: {{ ecology_bars.air_quality }}%; 
                                    background-color: {% if ecology.air_quality <= 3 %}red{% elif ecology.air_quality <= 6 %}yellow{% else %}green{% endif %};">
                        </div>
                        <div class="bar-empty" style="width: {{ ecology_bars.air_quality_empty }}%;"></div>
                    </div>
    
                    <!-- Zanieczyszczenie wody -->
                    <span class="tooltip" data-title="Zanieczyszczenie wody">
                        <img src="{% static 'images/Screenshot from 2024-10-25 17-30-08.png' %}" 
                             title="Zanieczyszczenie wody" alt="Zanieczyszczenie wody" class="icon">
                    </span>
                    <div class="bar">
                        <div class="bar-filled" 
                             style="width: {{ ecology_bars.water_pollution }}%; 
                                    background-color: {% if ecology.water_pollution <= 3 %}red{% elif ecology.water_pollution <= 6 %}yellow{% else %}green{% endif %};">
                        </div>
                        <div class="bar-empty" style="width: {{ ecology_bars.water_pollution_empty }}%;"></div>
                    </div>
    
                    <!-- Pokrycie lasów -->
                    <span class="tooltip" data-title="Pokrycie lasów">
                        <img src="{% static 'images/Screenshot from 2024-10-25 17-30-30.png' %}" 
                             title="Pokrycie lasów" alt="Pokrycie lasów" class="icon">
                    </span>
                    <div class="bar">
                        <div class="bar-filled" 
                             style="width: {{ ecology_bars.forest_coverage }}%; 
                                    background-color: {% if ecology.forest_coverage <= 3 %}red{% elif ecology.forest_coverage <= 6 %}yellow{% else %}green{% endif %};">
                        </div>
                        <div class="bar-empty" style="width: {{ ecology_bars.forest_coverage_empty }}%;"></div>
                    </div>
    
                    <!-- Populacja dzikich zwierząt -->
                    <span class="tooltip" data-title="Populacja dzikich zwierząt">
                        <img src="{% static 'images/Screenshot from 2024-10-25 17-31-07.png' %}" 
                             title="Populacja dzikich zwierząt" alt="Populacja dzikich zwierząt" class="icon">
                    </span>
                    <div class="bar">
                        <div class="bar-filled" 
                             style="width: {{ ecology_bars.wildlife_population }}%; 
                                    background-color: {% if ecology.wildlife_population <= 3 %}red{% elif ecology.wildlife_population <= 6 %}yellow{% else %}green{% endif %};">
                        </div>
                        <div class="bar-empty" style="width: {{ ecology_bars.wildlife_population_empty }}%;"></div>
                    </div>
                </div>
            {% else %}
                <p>Brak danych o ekologii.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
