{% extends "base.html" %}

{% block content %}

<div class="select_game">
    {% for data in in_game %}
        <div class="game-card">
            <h2 class="country-name">Kraj: {{ data.country.name }}</h2>
            <h2 class="era-name">Era: {{ data.age.name }}</h2>

            {% if data.country.image %}
                <img src="{{ data.country.image.url }}" alt="{{ data.country.name }}">
            {% endif %}

            <div class="info">
                <p>Rezerwa: {{ data.country.capital }} złoto</p>
                <p>Populacja: {{ data.country.population }}</p>
                <p>Dochód: {{ data.country.income }}</p>
            </div>

            <div class="button-container">
                <a class='button' href="{% url 'in_game' data.id %}">Wróć do gry</a>
                <a class='button delete' href="{% url 'delete_game' data.id %}">Usuń grę</a>
            </div>
        </div>
    {% empty %}
        <p>Brak danych o grze.</p>
    {% endfor %}
</div>

{% endblock %}


