body {
    background-color: #fff;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    color: #fff; 
    text-decoration: none;
}

a:hover {
    color: #aaffaa; 
}

.header-container {
    background-color: rgb(1, 61, 1);
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: flex-start; 
}

.logo {
    margin-right: auto; 
}

.logo h1 {
    margin: 0;
}

.login-container {
    margin-top: 10px;
    margin-left: auto; 
}

.login-container a {
    color: #fff;
    margin-right: 10px;
}

.login-container a:hover {
    color: #aaffaa; 
}

.content-container {
    padding: 20px;
}

.footer-container {
    background-color: rgb(1, 61, 1);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-container p {
    margin: 0;
}

.registration {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #080;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.registration form {
    display: flex;
    flex-direction: column;
}

.registration label {
    color: #fff;
    margin-bottom: 8px;
}

.registration input[type="text"],
.registration input[type="email"],
.registration input[type="password"],
.registration input[type="date"],
.registration button[type="submit"] {
    padding: 12px; 
    margin-bottom: 12px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #030;
    color: #fff;
    transition: border-color 0.3s ease; 
}

.registration input[type="text"]:focus,
.registration input[type="email"]:focus,
.registration input[type="password"]:focus,
.registration input[type="date"]:focus {
    outline: none;
    border-color: #0f0; 
}

.registration button[type="submit"] {
    background-color: #0f0; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; 
}

.registration button[type="submit"]:hover {
    background-color: #aaffaa; 
}

.registration .form-control-password {
    margin-bottom: 12px; 
}

.registration .error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}


.email-check-container {
    text-align: center;
    margin-top: 50px;
}

.email-check-container h1 {
    color: lime;
    font-size: 24px;
    margin-bottom: 20px;
}

.update_user_form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #080;
    border-radius: 10px;
}

.update_user_form form {
    display: flex;
    flex-direction: column;
}

.update_user_form label {
    color: #fff;
    margin-bottom: 5px;
}

.update_user_form input[type="text"],
.update_user_form input[type="password"],
.update_user_form textarea,
.update_user_form input[type="file"],
.update_user_form input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #030;
    color: #fff;
}

.update_user_form input[type="file"] {
    border: none;
    background-color: transparent;
    color: inherit;
}

.update_user_form input[type="submit"] {
    border: none;
    background-color: #0f0;
    cursor: pointer;
}

.update_user_form input[type="submit"]:hover {
    background-color: #aaffaa;
}

.update_user_form input[type="text"]:focus,
.update_user_form textarea:focus,
.update_user_form input[type="file"]:focus {
    outline: none;
    border-color: #0f0;
}

.staff_links {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px; 
}

.row a {
    margin-right: 10px; 
    color: #0f0;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #0f0;
    border-radius: 5px;
    background-color: #080;
}

.row a:hover {
    background-color: #aaffaa;
}


.forms {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #080;
    border-radius: 10px;
}

.forms form {
    display: flex;
    flex-direction: column;
}

.forms form input[type="text"],
.forms form input[type="email"],
.forms form input[type="password"],
.forms form input[type="date"],
.forms form input[type="number"],
.forms form select,
.forms form input[type="file"],
.forms form button[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #030;
    color: #fff;
}

.forms form button[type="submit"] {
    border: none;
    background-color: #0f0;
    cursor: pointer;
}

.forms form button[type="submit"]:hover {
    background-color: #aaffaa;
}

.forms form input[type="text"]:focus,
.forms form input[type="email"]:focus,
.forms form input[type="password"]:focus,
.forms form input[type="date"]:focus {
    outline: none;
    border-color: #0f0; 
}

.admin_view {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #080;
    border-radius: 10px;
}

.admin_view h1 {
    color: #fff;
    text-align: center;
}

.admin_view table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin_view th,
.admin_view td {
    padding: 10px;
    border: 1px solid #fff;
    text-align: left;
}

.admin_view th {
    background-color: #030;
    color: #fff;
}

.admin_view tbody tr:nth-child(even) {
    background-color: #0b0;
}

.admin_view tbody tr:nth-child(odd) {
    background-color: #0a0;
}

.admin_view tbody td {
    color: #fff;
}

.admin_view tbody tr:hover {
    background-color: #aaffaa;
}

.admin_view a {
    color: #fff;
    text-decoration: none;
}

.admin_view a:hover {
    text-decoration: underline;
}

.delete_view {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #800;
    border-radius: 10px;
}

.delete_view p {
    color: #fff;
}

.delete_view form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete_view button[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #300;
    color: #fff;
    cursor: pointer;
}

.delete_view button[type="submit"]:hover {
    background-color: #a00;
}

.user_link {
    margin-top: 20px; 
}

.user_link .row {
    display: flex;
    justify-content: center; 
}

.user_link a {
    display: inline-block;
    padding: 10px 20px; 
    background-color: rgb(3, 122, 3);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.user_link a:hover {
    background-color: #d9ff00; 
}
