{% extends 'base.html' %}

{% block content %}
<div class='admin_view'>
    <h1>Wszystkie epoki</h1>
    <table>
        <thead>
            <tr>
                <th>Nazwa epoki</th>
                <th>Początek epoki</th>
                <th>Koniec epoki</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for age in age_all %}
            <tr>
                <td>{{ age.name }}</td>
                <td>{{ age.start_of_era|date:"Y-m-d" }}</td>
                <td>{{ age.end_of_era|date:"Y-m-d" }}</td>
                <td><a href="{% url 'age_update' pk=age.pk %}">Zaktualizuj</a></td>
                <td><a href="{% url 'age_delete' pk=age.pk %}">Usuń</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href = "{% url 'crate_age' %}"> Dodaj nową epokę</a>
</div>
{% endblock %}
