{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Game</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"defer></script>
</head>

<body>
    <header class='header-container'>
        <div class='logo'>
            <a href='{% url 'main' %}'> <h1>Game</h1></a>
        </div>
        <div class='login-container'>
            {% if user.is_authenticated %}
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="User Avatar" width="50" height="50">
                {% endif %}
                <a href="{% url 'user_info' %}">Witaj, {{ user.username }}</a>
                <br> <a href="{% url 'logout' %}"> Wyloguj</a>
            {% else %}
                <a href="{% url 'login' %}">Zaloguj</a>
            {% endif %}
        </div>
    </header>
    
    <div class="staff_links">
        {% if user.is_staff %}
        <a href="{% url 'admin_panel' %}" class="staff-link">Panel Administracyjny</a>
    {% endif %}
    </div>

<div class="user_link">
    <div class="row">
        <a href="{% url 'create_new_world' %}">Stwórz nowy świat</a>
        <a href="{% url 'select_game' %}">Wrocz do gry</a>

    </div>
</div>
    <div class='content-container'>
        {% block content %}
        {% endblock %}
    </div>
</body>
<footer class='footer-container'>
    <p style="text-align: center;">Work by <span style="color: #ff0000;">Sigml</span></p>
</footer>
</html>
