{% extends 'base.html' %}

{% block content %}

<div class='admin_view'>
    <h1>Stan ekologii</h1>
    <table>
        <thead>
            <tr>
                <th>Kraj</th>
                <th>Stan powietrza</th>
                <th>Stan wody</th>
                <th>Stan lasu</th>
                <th>Żywność</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ecology in object_list %}
            <tr>
                <td>{{ ecology.country }}</td>
                <td>{{ ecology.air_quality }}</td>
                <td>{{ ecology.water_pollution }}</td>
                <td>{{ ecology.forest_coverage }}</td>
                <td>{{ ecology.wildlife_population }}</td>
                <td><a href="{% url 'ecology_update' pk=ecology.pk %}">Zaktualizuj</a></td>
                <td><a href="{% url 'ecology_delete' pk=ecology.pk %}">Usuń</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <a href="{% url 'required_resources_create' %}">Dodaj nowy zasób</a>
</div>


{% endblock %}